@import 'tailwindcss';

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-serif: "sans-serif", serif;
}

html,
body {
    width: 100%;
    background-color: #141414;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
